:root {
    --main: #3CAB90;
    --yellow: #FFBB1C;
    --footer: #283646;
    --text-color:#101828;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
overflow-x: hidden;
}
/* header  */
.container{
     padding: 0 150px; 
}
header{
    height: 86px;
    background-color: var(--main);
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .logo {
    width: 157px;
    height: 54px;
    position: relative;
}

header .logo img{
    width: 100%;
    height: 100%;
     filter: grayscale(100%) brightness(70%);
}

#toggle {
    display: none;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li{
   font-size: 18px;
   letter-spacing: 0.94px;
   font-weight: 400;
   color: white;
   margin-right: 10px;
   border-bottom: 3px solid transparent;
   padding: 8px 28px;
   cursor: pointer;
   transition: .3s;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -ms-transition: .3s;
   -o-transition: .3s;
}
header nav ul li:hover
   {
   border-bottom: 3px solid black;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
   -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   }
.active{
   font-weight: 600;
     border-bottom: 3px solid black;

   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
   -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header .phone-number{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
}
header .phone-number span{
    align-self: end;
    font-weight: 400;
    font-size: 18px;
}
header .phone-number span:nth-child(2) {
    font-size: 24px;
    font-weight: 700;
}
/* header  */
/* hero  */


section.hero {
    height: calc(100vh - 86px);
    background-image: url(../imgs/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
   
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero-content .hero-pagination{
    width: 220.59px;
    border: 3px solid #575757;
    margin-bottom: 40px;
    position: relative;
}
.hero-content .hero-pagination::before,.hero-content .hero-pagination::after{
    position: absolute;
    color: white;
    top: -8px;

}
.hero-content .hero-pagination::before{
    content: "01";
    left: -50px;
}
.hero-content .hero-pagination::after{
    content: "04";
    right: -50px;
}
.hero-content .hero-pagination span{
    display: block;
    width: 40%;
    border: 3px solid white;
}

.hero-content h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
    letter-spacing: -2px;
}

.hero-content h1 span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    letter-spacing: 0;
    font-weight: 600;
}

.hero-cta {
    display: flex;
    gap: 20px;
}

.hero-cta a {
    display: inline-block;
    padding: 12px 34px;
    border-radius: 109px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-border-radius: 109px;
    -moz-border-radius: 109px;
    -ms-border-radius: 109px;
    -o-border-radius: 109px;
}

.hero-cta a:first-child {
    background-color: var(--main);
    color: white;
}

.hero-cta a:last-child {
    background-color: var(--yellow);
    color: black;
    
}

.hero-cta a:hover,.section3 div a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}

/* hero  */

/* section 2 */

.section2{
     counter-reset: section2Li;
    display: flex;
    gap: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.section2 .text-part{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.section2 .text-part h3{
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -2%;
    color: var(--text-color);
}
.section2 .text-part p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #475467;
    margin-bottom: 25px;
}
.section2 .text-part ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.section2 .text-part ul li{
    font-size: 20px;
    font-size: 600;
    line-height: 30px;
    color: var(--text-color);
}
.section2 .text-part ul li::before{
    counter-increment: section2Li;
    content:"0"  counter(section2Li)  " / ";
    margin-right: 10px;
    color: #84BD3A;
    
}

.section2 div:nth-child(2){
    position: relative;
}
.section2 div:nth-child(2) div:nth-child(2){
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 270px;
    height: 210px;
    letter-spacing: -1.06px;
    padding: 24px 30px;
    border-radius: 12px;
    top: 59%;
    left: -10%;
    background-color: #FFBB1C;
    color: #2A3334;
    font-size: 18px;
    font-weight: 400;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

/* section 2 */

/* section 3 */

.section3 {
    background: url('./../imgs/section3.png') center/cover no-repeat;
    height: 505px;
}
.section3 div{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
}
.section3 div h3{
    font-size: 40px;
    font-weight: 600;
    color: white;
    letter-spacing: -2px;
    margin-bottom: 32px;
}
.section3 div p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    line-height: 140%;
    margin-bottom: 32px;
    
}
.section3 div a{
    cursor: pointer;
        display: inline-block;
        font-size: 14px;
    padding: 12px 34px;
    border-radius: 109px;
    width: 173px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-border-radius: 109px;
    -moz-border-radius: 109px;
    -ms-border-radius: 109px;
    -o-border-radius: 109px;
    background-color: var(--yellow);
    color: black;
    text-align: center;
}
/* section 3 */
/* section 4 */ 


.section4 > div {
    display: flex ;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;  
    flex-direction:column ;
}

.section4 .container div h3{
    font-size: 42px;
    font-weight: 600;
    color: var(--text-color);
    text-align: center;
    letter-spacing: -2px;
    
}
.section4 .container .secyion4-text-part p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    line-height: 24px;
    
}

.section4 .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 32px;
    margin: 0 auto; 
}

/* Card styling */
.section4 .card {
    flex: 1 1 calc(33.333% - 32px); 
    min-width: 250px; 
    box-shadow: rgba(0, 0, 0, 0.05);
}
.section4 .card img{
    max-width: 100%;
}
.section4 .card-content{
    padding: 20px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.section4 .card-content h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 30px;
   
}
.section4 .card-content p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(71, 84, 103, 1);
    line-height: 24px;
}
.section4 .card-content a{
 text-decoration: none;
 color: var(--main);
 font-size: 16px;
 font-weight: 500;
}
/* section 4 */

/* sectio 5 */
 .section5 {
          height: 505px; 
         background-image: url(../imgs/section5.png);
         object-fit: cover;
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
         position: relative;
        }
        
       
        
       
        .section5 div {
            position: absolute;
            display:flex ;
            padding: 44px;
            gap: 32px;
            background-color: rgba(16, 15, 15, 0.7);
            border-radius: 12px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            height:62% ;
            backdrop-filter: blur(10px);
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            color: white;
}   
        .section5 h2 {
            text-align: center;
            font-size: 42px;
            font-weight: 600;
            letter-spacing: -2px;
        }
        .section5 p {
            text-align: center;
        }

        

/* secttion 5  */
/* secttion 6 */

.section6 .container {
    display: grid;
     grid-template-columns: repeat(3, minmax(258px, 1fr));
    gap: 35px;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow-x: hidden;
}
.section6 .container .first-part{

    display: flex;
    gap: 20px;
    flex-direction: column;
}
.section6 .container .first-part h3{
    font-size: 42px;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: -2px;
}
.section6 .container .first-part p{
    font-size: 16px;
    font-weight: 400;
    color:#475467;
    line-height: 24px;
}

.section6 .container .cards-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    

}
.section6 .container .cards-container .card,.section7 .container .cards-container .card{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-direction: column;
    border: 1px solid var(--main);
    border-radius: 12px;
    background-color: #3CAB900D;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.section6 .container .cards-container .card h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 30px;
}
.section6 .container .cards-container .card p{
    font-size: 16px;
    font-weight: 400;
    color: #475467;
    line-height: 24px;
}
.section6 .container .cards-container .card a{
    text-decoration: none;
    color: var(--main);
    font-size: 16px;
    font-weight: 500;
}

/* secttion 6 */
/* secttion 7 */
.section7 .container{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.section7 .container h4{
    font-size: 42px;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: -2px;
}
.section7 .container p{
    font-size: 16px;
    font-weight: 400;
    color:#475467;
    line-height: 24px;
}
.section7 .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
    gap: 35px;
}

.section7 .cards-container img{
    width: 70px;
}
.section7 .cards-container .card{
    padding: 32px;
    gap: 20px;
}

/* secttion 7 */
/* secttion 8 */
 .section8 .container{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    gap: 30px;
 }
.section8 .container .text-part{
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 400px;
position: relative;
}
/* .section8 .container .text-part::before{
    content: ',,';
    position: absolute;
    top: -48px;
    left: -0px;
    font-size: 48px;
    font-weight: 600;
    color: var(--main);
    letter-spacing: -2px;
    rotate: 180deg;
} */
.section8 .container .text-part h4{
    font-size: 48px;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: -2px;
}
.section8 .container .text-part p{
    font-size: 18px;
    font-weight: 400;
    color:#1C1C1C;
    line-height: 24px;
}

.testimonials{
    padding: 40px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 87px;
    background-color: #3CAB900F;
    min-width: 700px;
}

.testimonials .first-part div:first-child span{
    color: var(--main);
    font-size: 16px;
    font-weight: 700;
}
.testimonials .first-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonials .first-part div:last-child span{
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color:#D9D9D9;
    margin-right: 5px;
}
.testimonials .first-part div:last-child span:hover{
    background-color: #6B6B6B !important;

}
.active-testimonials{
    background-color: #6B6B6B !important;
}

.testimonials .second-part {
    max-width: 500px;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color);
}
.testimonials .third-part {
    display: flex;
    justify-content: space-between;
    align-items: center;}
.testimonials .third-part .avatar{
    display: flex;
    gap: 10px;
    align-items: center;
}
.testimonials .third-part .avatar div:last-child p{
    color: var(--text-color);
    font-size: 16px;
}
.testimonials .third-part .avatar div:last-child p:first-child{
    font-weight: 700;
    margin-bottom: 9px;
}
.testimonials .third-part .avatar div:last-child p:last-child{
    font-weight: 400;
}
.testimonials .third-part .arrows span{
display: inline-block;
display: flex;
justify-content: center;
align-items: center;
width: 48px;
height: 48px;
color:#1C1C1C ;
border: 1px solid #1C1C1C;
cursor: pointer;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
margin-right: 16px;
}
/* secttion 8 */

.footer{
   padding-top: 80px;
   padding-bottom: 40px;
   background-color: var(--footer);
  
   
}
.links-box{
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
    margin-top: 35px;
    margin-bottom: 35px;
}
.links-box a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.links-box nav{
    display: flex;
    gap: 20px;
}

.newsletter p{
    color: white;
    font-size: 16px;
    font-weight: 400;
   letter-spacing: .3px;
   margin-bottom: 5px;
}
/* From Uiverse.io by Bodyhc */ 
.subscribe{
  display: inline-block;
  position: relative;
}

.subscribe input[type="text"] {
  width: 350px;
 height: 48px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  background-color: #2a333480;
  border: 1px solid #B3BDC7;
}

.subscribe button[type="submit"] {
  background-color: var(--yellow);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 12px 34px;
  width: 140px;
  height: 48px;
  border-radius: 109px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: -5px;
  transition: .9s ease;
  -webkit-border-radius: 109px;
  -moz-border-radius: 109px;
  -ms-border-radius: 109px;
  -o-border-radius: 109px;
}

.subscribe button[type="submit"]:hover {
 
  color: rgb(255, 255, 255);
  background-color: blue;
}
.footer-bottom{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #92989F;
    font-size: 12px;
    font-weight: 400;
}
.footer-bottom a{
    font-size: 12px;
    font-weight: 400;
    color: #92989F;
    text-decoration: none;
}

@media (max-width: 1270px) {
/* .section2 */
    .section2{
        padding:80px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section2 div.text-part{
        max-width: 100% !important;
        justify-content: center;
    }
     .section2 .image-part{
        width: 100%;
     }
    .section2 .image-part .first-image{
        width: 100%;
        align-self: center;
    }
    .section2 .image-part .first-image img{
        width: 100%;
        height: 552px;
        
    }
    .section2 div:nth-child(2) div:nth-child(2){
  
    top: 25%;
    left: 25%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
}

@media (max-width: 1150px) {
    .section8 .container{
        flex-direction: column;
    }
     .section8 .container .text-part {
        max-width: 100%;
     }
     .testimonials{
       min-width: fit-content;
     }
}

/* responsive */
/* Header  */
/* Medium devices and below (tablets, phones) */
@media (max-width: 992px) {
    header {
        padding: 0 20px;
        position: relative;
    }
    .container{
        padding: 0 20px;
    }
    .footer{
        padding-top: 80px;
    padding-bottom: 40px;
    }
    /* Hide the navigation and phone number */
    header nav,
    header .phone-number {
        display: none;
    }
    
    /* Show toggle button */
    .toggle-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
    }
    
    .toggle-btn span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 3px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
}
    
    .toggle-btn span:nth-child(1) {
        top: 0;
    }
    
    .toggle-btn span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
}
    
    .toggle-btn span:nth-child(3) {
        bottom: 0;
    }
    
    /* When checkbox is checked, show the menu */
    #toggle:checked ~ nav {
        display: block;
        position: absolute;
        top: 86px;
        left: 0;
        width: 100%;
        background-color: var(--main);
        padding: 20px;
        z-index: 100;
    }
    
    #toggle:checked ~ nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #toggle:checked ~ nav ul li {
        width: 100%;
        margin: 5px 0;
    }
    
    #toggle:checked ~ .phone-number {
        display: flex;
        position: absolute;
        top: calc(86px + 180px); /* Adjust based on your nav height */
        left: 20px;
        padding: 20px 0;
    }
    
    /* Transform toggle button into X when menu is open */
    #toggle:checked + .toggle-btn span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    #toggle:checked + .toggle-btn span:nth-child(2) {
        opacity: 0;
    }
    
    #toggle:checked + .toggle-btn span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }


    /* hero  */

    section.hero h2 {
        font-size: 40px;
    }

    section.hero p {
        font-size: 16px;
        line-height: 24px;
    }
/* .section2 */
    .section2{
        padding:80px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section2 div.text-part{
        max-width: 100% !important;
        justify-content: center;
    }
     .section2 .image-part{
        width: 100%;
     }
    .section2 .image-part .first-image{
        width: 100%;
        align-self: center;
    }
    .section2 .image-part .first-image img{
        width: 100%;
        height: 552px;
        
    }
    .section2 div:nth-child(2) div:nth-child(2){
  
    top: 25%;
    left: 25%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

/* sectin4  */

.section4 .card {
        flex: 1 1 calc(50% - 32px); /* 2 cards with gap */
    }

 section7 .cards-container {
        grid-template-columns: repeat(2, minmax(258px, 1fr));
    }
}   
@media (min-width: 768px) and (max-width: 879px) {
    .section6 .container {
        grid-template-columns: minmax(258px, 1fr);
    }
    .section6 .container .cards-container{
        flex-direction: row;
    }

     .section7 .cards-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 768px) {
     .section6 .container {
        grid-template-columns: 1fr; 
    }


@media (max-width:730px){
    .section5 div{
        width: 100%;
        padding: 20px;
        gap: 10px;
    }
    .section5 h2{
        font-size: 30px;
    }
    .section5 p{
        font-size: 18px;
    }

    
}
}

@media (max-width: 768px) {
   .footer-top, 
   .footer-bottom,.links-box {
    display: flex;
      flex-direction: column !important; /* Temporary to test */
      align-items: center;
   }
}


@media (min-width:601px) and (max-width:763px) {
.section4 .card {
        flex: 1 1 100%; 
    }
    .section4 .card img{
   width: 100%;
}
   
}

@media (max-width:600px) {
    .section4 .card img{
   width: 100%;
}
    .container{
       padding: 60px;

    }
    section.hero {
       padding: 60px;
    }
    section.hero h2 {
        font-size: 27px;
    }
    section.hero p{
        font-size: 14px;
    }
      .section2 .image-part{
        display: none;
      }

      .section4 .container{
        padding: 10px;
      }

       .section4 .card {
        flex: 1 1 100%; 
    }


      .section6 .container {
        grid-template-columns: 1fr; 
        padding-left: 0;
        padding-right: 0;
    }
    .section6 .container > .first-part {
        min-width: unset; 
    }
    .section8 .third-part{
        flex-direction: column;
       
        gap: 20px;
    }
    }









